{{- $robots := "" -}}
{{- $googlebot := "" -}}
{{- with .Params.seo -}}
    {{- with .robots -}}
        {{- $robots = . -}}
    {{- end -}}
    {{- if and (not $robots) .noindex -}}
        {{- $robots = "noindex,follow" -}}
    {{- end -}}
    {{- with .googlebot -}}
        {{- $googlebot = . -}}
    {{- end -}}
{{- end -}}
{{- if and (not $robots) (in (slice "taxonomy" "term") .Kind) -}}
    {{- $robots = "noindex,follow" -}}
{{- end -}}
{{- if and $robots (not $googlebot) -}}
    {{- $googlebot = $robots -}}
{{- end -}}
{{- with .Site.Params.baiduSiteVerification -}}
    {{- if $.IsHome -}}
<meta name="baidu-site-verification" content="{{ . }}" />
    {{- end -}}
{{- end -}}
{{- with $robots -}}
<meta name="robots" content="{{ . }}">
{{- end -}}
{{- with $googlebot -}}
<meta name="googlebot" content="{{ . }}">
{{- end -}}
{{- partial "head/structured-data.html" . -}}
<script src="{{ "js/busuanzi.min.js" | relURL }}" defer></script>
