<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

{{- $description := partialCached "data/description" . .RelPermalink -}}
<meta name='description' {{ printf "content=%q" $description | safeHTMLAttr }}>
{{- $keywords := or .Params.Keywords .Params.tags .Site.Params.keywords -}}
{{- with $keywords }}
<meta name="keywords" content="{{ delimit . ", " }}">
{{- end }}

{{- $title := partial "data/title" . -}}
<title>{{ $title }}</title>

{{- if .Params.canonicalUrl -}}
<link rel="canonical" href="{{ .Params.canonicalUrl }}">
{{- else -}}
{{- $canonical := .Permalink -}}
{{- $paginator := partial "helper/paginator.html" . -}}
{{- if $paginator -}}
    {{- if gt $paginator.PageNumber 1 -}}
        {{- $canonical = absURL $paginator.URL -}}
    {{- end -}}
{{- end -}}
<link rel='canonical' href='{{ $canonical }}'>
{{- end -}}

{{- partial "head/custom-font.html" . -}}
{{- partial "head/style.html" . -}}
{{- partial "head/script.html" . -}}
{{- partial "head/opengraph/include.html" . -}}

{{- range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{- end -}}

{{- $favicon := partial "helper/image" (dict "Image" .Site.Params.favicon "Resources" resources "Context" .) -}}
{{ with $favicon }}
    <link rel="shortcut icon" href="{{ .Permalink }}" />
{{ end }}

{{- if .Site.Params.cookies.enabled -}}
    {{- partial "cookies/analytics.html" . -}}
{{- else -}}
    {{- template "_internal/google_analytics.html" . -}}
{{- end -}}

{{- partial "head/custom.html" . -}}
