<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

{{- $description := partialCached "data/description" . .RelPermalink -}}
<meta name='description' {{ printf "content=%q" $description | safeHTMLAttr }}>
{{- $keywords := or .Params.Keywords .Params.tags .Site.Params.keywords -}}
{{- with $keywords }}
<meta name="keywords" content="{{ delimit . ", " }}">
{{- end }}

{{- $title := partial "data/title" . -}}
<title>{{ $title }}</title>

{{- $canonical := .Permalink -}}
{{- $paginator := partial "helper/paginator.html" . -}}
{{- if and $paginator (gt $paginator.PageNumber 1) -}}
    {{- $canonical = absURL $paginator.URL -}}
{{- end -}}
<link rel='canonical' href='{{ $canonical }}'>

{{- partial "head/style.html" . -}}
{{- partial "head/script.html" . -}}
{{- partial "head/opengraph/include.html" . -}}

{{- range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{- end -}}

{{ with .Site.Params.favicon }}
    <link rel="shortcut icon" href="{{ . | relURL }}" />
{{ end }}

{{- partial "google_analytics.html" . -}}
{{- partial "head/custom.html" . -}}
